:root {
  --clr-light-blue: #31c3bd;
  --clr-lighter-blue: #65e9e4;
  --clr-light-yellow: #f2b137;
  --clr-lighter-yellow: #ffc860;
  --clr-dark-navy: #1a2a33;
  --clr-semi-navy: #1f3641;
  --clr-silver: #a8bfc9;
  --clr-light-silver: #dbe8ed;

  --ft-family: "Outfit", sans-serif;

  --fs-L: 40px;
  --fs-M: 24px;
  --fs-S: 20px;
  --fs-XS: 16px;
  --fs-body: 14px;

  --fw-bold: bold;
  --fw-medium: medium;
}

.hidden {
  display: none !important;
}
*:before,
*,
*:after {
  box-sizing: border-box;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-dark-navy);
  font-family: var(--ft-family);
  /* padding: 1rem; */
}

/*disable clicks */
.game-over {
  pointer-events: none;
}

/*New Game Menu styles */
.new-game-menu-container {
  margin: 25% 5% 25% 5%;
}
.new-game-menu-container svg {
  height: 32px;
  width: 32px;
}
.new-game-menu-container svg path {
  transform: scale(0.5);
}
.logo-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.selection-container {
  background-color: var(--clr-semi-navy);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 14px 20px 14px 20px;
  color: var(--clr-silver);
  margin: 2rem 0 2rem 0;
  box-shadow: 0 7px 0px rgba(0, 0, 0, 0.3);
}

.selection-container h1 {
  font-size: var(--fs-XS);
}

.xo-container {
  display: flex;
  background-color: var(--clr-dark-navy);
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.825rem;
  border-radius: 10px;
}
.x-container svg path,
.o-container svg path {
  fill: var(--clr-silver);
}
.xo-container > * {
  width: 100%;
  padding: 0.6rem;
  border-radius: inherit;
  display: flex;
  justify-content: center;
}
.x-container {
  width: 100%;
}
.o-container {
  width: 100%;
}
.clicked svg path {
  fill: var(--clr-dark-navy);
}
.clicked {
  background-color: var(--clr-silver);
}
.remembering {
  text-transform: uppercase;
}
.buttons-container {
  display: grid;
  gap: 16px;
}
button {
  text-transform: uppercase;
  font-size: var(--fs-XS);
  color: var(--clr-dark-navy);
  font-weight: bold;
  height: 56px;
  border-radius: 16px;
  border: none;
}
.orange {
  background-color: var(--clr-light-yellow);
  box-shadow: 0 7px 0px #cc8b13;
}
.green {
  background-color: var(--clr-light-blue);
  box-shadow: 0 7px 0px #118c87;
}
.error-message {
  margin-top: 26px;
  color: red;
  text-align: center;
}
/*game board styles */
.game-board-container {
  position: relative;
}
.game-board-container div:nth-child(1) {
  z-index: 2;
}
.heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.heading .logo-container svg {
  height: 32px;
  width: 32px;
}
.heading .logo-container svg path {
  transform: scale(0.5);
}

.heading .logo-container {
  justify-self: start;
}
.current-turn {
  display: flex;
  color: var(--clr-silver);
  background-color: var(--clr-semi-navy);
  justify-content: space-evenly;

  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.3);
}
.heading .current-turn svg {
  height: 16px;
  width: 16px;
}
.heading .current-turn svg path {
  transform: scale(0.25);
  fill: var(--clr-silver);
}
.replay-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
#replay-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 5px 0px #979797;
}
.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
  place-items: center;
  margin: 20% 0 5% 0;
}
.board-item {
  width: 100%;
  height: 100%;
  background-color: var(--clr-semi-navy);
  padding: 20px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  box-shadow: 0 7px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-item.winner.orange {
  background-color: var(--clr-light-yellow);
}
.board-item.winner.green {
  background-color: var(--clr-light-blue);
}
.board-item.winner svg path {
  fill: var(--clr-dark-navy);
}

.board-item svg path {
  transform: scale(0.62);
}
.board-item svg {
  width: 40px;
  height: 40px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
}

.footer > * {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}
.footer div span:nth-child(2) {
  font-weight: var(--fw-bold);
}

.x-wins {
  background-color: var(--clr-light-blue);
}
.ties {
  background-color: var(--clr-silver);
}
.o-wins {
  background-color: var(--clr-light-yellow);
}

.result-container {
  background-color: var(--clr-semi-navy);
  display: grid;
  place-items: center;
  gap: 16px;
  padding: 5%;
  position: absolute;
  top: 40%;
  right: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
}

#result-message {
  color: var(--clr-light-silver);
}
#result {
  display: flex;
  align-items: center;
  gap: 12px;
}
#result svg {
  width: 30px;
  height: 30px;
}

#result svg path {
  transform: scale(0.46);
}
#result > span {
  font-size: var(--fs-M);
  color: var(--clr-light-yellow);
  letter-spacing: 1px;
  font-weight: var(--fw-bold);
}
.secondary-buttons-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 20px;
  padding: 0 10% 0 10%;
}
.silver {
  background-color: var(--clr-silver);
  box-shadow: 0 7px 0px #6b8997;
}

/* winning */
